<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/basic}">
<head>
    <meta charset="UTF-8">
    <title>제품상세</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <style>
        .flex-equal>* {
            flex: 1;
        }

        @media ( min-width : 768px) {
            .flex-md-equal>* {
                flex: 1;
            }
        }
    </style>
</head>

<div layout:fragment="content" class="content">


    <div class="d-md-flex flex-md-equal w-100 mb-5 ps-md-3">

        <div class="me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
            <div class="pt-3">
                <h1 th:text="${product.productName}"></h1>
                <p class="lead text-muted" th:text="${product.category}"></p>
            </div>
            <div class="bg-body shadow-sm mx-auto my-5"
                 style="width: 50%; border-radius: 21px 21px 0 0;">
                <img th:src="@{${product.imgPath}}" style="width: 100%" alt="">
            </div>

            <h2 class="featurette-heading" th:text="${product.productPrice}"></h2>
            <p class="text-muted col-md-6" style="margin: auto;" th:text="${product.description}"></p>
            <div class="d-grid gap-2 d-md-flex justify-content-center mt-5">
                <form name="addToCart">
                    <input type="hidden" th:value="${product.productId}" name="productId">
                    <input type="hidden" th:value="${product.productName}" name="productName">
                    <input type="hidden" th:value="${product.productPrice}" name="productPrice">
                    <input type="hidden" th:value="${product.description}">
                    <input type="hidden" th:value="${product.category}">
                    <input type="hidden" th:value="${product.productsInStock}">
                    <input type="hidden" th:value="${product.fileName}">
                    <input type="hidden" th:value="${product.imgPath}">
                    <input type="hidden" th:value="${product.registDay}">
                    <div class="btn btn-primary" onclick="addCart()">
                        <svg
                                xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                fill="currentColor" class="bi bi-cart2" viewBox="0 0 16 16">
                            <path
                                    d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"></path>
                        </svg>
                        장바구니
                    </div>

                    <a th:href="@{/product/list}" class="btn btn-success">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             width="16" height="16" fill="currentColor"
                             class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                  d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"></path>
                        </svg>
                        제품 목록
                    </a>

                </form>
            </div>
        </div>
    </div>


</div>

<script layout:fragment="script" th:inline="javascript">

    function addCart(){
        const productId = [[${product.productId}]];
        console.log(productId);
        const addToCart = document.addToCart;

        const payload = new FormData(addToCart);
        const jsonData = {};

        // FormData 객체의 값을 JSON 객체로 변환
        for (const [key, value] of payload.entries()) {
            jsonData[key] = value;
        }


        if(!confirm("장바구니에 추가 하시겠습니까?")){
            return;
        }
        fetch(`/api/cart/product`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(jsonData)
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Error: ' + response.status);
                }
                // 요청이 성공한 경우 추가적인 로직을 작성하세요
                console.log('Item added to cart successfully.');
                alert("장바구니에 추가되었습니다!");
                window.location.href = `/cart/list`;
            })
            .catch(error => {
                // 요청이 실패한 경우 에러 처리 로직을 작성하세요
                console.error('Error:', error);
            });
    }




</script>