<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/basic}">
<div layout:fragment="content" class="content">


    <nav class="container">
        <br>
        <form th:action="@{/product/list(searchVal=${param.searchVal})}" method="get">
            <div class="input-group">

                <input type="text" class="form-control" name="searchVal" placeholder="검색할 상품명을 입력하세요.">
                <button type="submit" class="btn btn-secondary search">검색</button>
            </div>
        </form>
        <br>


        <div class="album py-5 my-5">

            <h2 class="text-center">- 제품 목록 -</h2>

            <div class="container">

                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">

                    <div class="col my-5" th:each="product, index : ${list}">
                        <div class="card shadow-sm" style="height: 550px;">
                            <img th:src="@{${product.imgPath}}" style="height: 300px; width: 100%" alt=""/>


                            <div class="card-body">
                                <h5 class="fw-bold" th:text="${product.productName}"></h5>
                                <p class="card-text" th:text="${product.description}"></p>
                            </div>
                            <div class="card-footer d-flex justify-content-between align-items-end" style="border: 0">
                                <div class="btn-group">
                                    <a th:href="@{/product/{productId}(productId=${product.productId})}" class="btn btn-sm btn-outline-secondary" role="button">
                                        View &raquo;</a>
                                </div>

                            </div>
                        </div>
                    </div>


                </div>

            </div>


        </div>

        <br>


        <br>
        <nav class="container d-flex align-items-center justify-content-center" aria-label="Page navigation example"
             th:with="start=${(list.number / maxPage) * maxPage + 1},
                  end=(${(list.totalPages == 0) ? 1 : (start + (maxPage - 1) < list.totalPages ? start + (maxPage - 1) : list.totalPages)})">
            <ul class="pagination">

                <li th:if="${start > 1}" class="page-item">
                    <a th:href="@{/product/list(page=0, searchVal=${param.searchVal})}" class="page-link" href="#"
                       aria-label="Previous">
                        <span aria-hidden="true">&laquo;&laquo;</span>
                    </a>
                </li>

                <li th:if="${start > 1}" class="page-item">
                    <a th:href="@{/product/list(page=${start - maxPage - 1}, searchVal=${param.searchVal})}"
                       class="page-link" href="#" aria-label="Previous">

                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                <li th:each="page: ${#numbers.sequence(start, end)}" class="page-item"
                    th:classappend="${list.number+1 == page} ? active">
                    <a th:href="@{/product/list(page=${page - 1}, searchVal=${param.searchVal})}" th:text="${page}"
                       class="page-link" href="#">1</a>

                </li>


                <li th:if="${end < list.totalPages}" class="page-item">
                    <a th:href="@{/product/list(page=${start + maxPage - 1}, searchVal=${param.searchVal})}"
                       class="page-link" href="#" aria-label="Next">

                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>

                <li th:if="${end < list.totalPages}" class="page-item">
                    <a th:href="@{/product/list(page=${list.totalPages - 1}, searchVal=${param.searchVal})}"
                       class="page-link" href="#" aria-label="Next">

                        <span aria-hidden="true">&raquo;&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>

    </nav>
</div>

<script layout:fragment="script" th:inline="javascript">


</script>