<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/adminBasic}">
<head>
    <meta charset="UTF-8">
    <title>관리자 제품</title>
    <link th:href="@{/css/dashboard.css}" rel="stylesheet"/>
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
</head>


<div layout:fragment="content">

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2" data-feather="file">제품 관리</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-9">
                    <h3>제품 목록</h3>
                </div>
                <div class="col-2" align="right">
                    <a th:href="@{/admin/addproduct}" class="btn btn-primary" role="button">등록하기</a>
                </div>
            </div>
            <table class="table table-hover table-striped text-center">
                <thead>
                <tr>
                    <th>제품 ID</th>
                    <th>제품명</th>
                    <th>가격</th>
                    <th>설명</th>
                    <th>카테고리</th>
                    <th>재고수</th>
                    <th>수정</th>
                    <th>삭제</th>
                </tr>
                </thead>
                <tbody>

                    <tr th:each="item, index : ${list}">
                        <td th:text="${item.productId}"></td>
                        <td th:text="${item.productName}"></td>
                        <td th:text="${item.productPrice}"></td>
                        <td th:text="${item.description}"></td>
                        <td th:text="${item.category}"></td>
                        <td th:text="${item.productsInStock}"></td>
                        <td><a th:href="@{/admin/updateProduct/{productId}(productId=${item.productId})}" class="btn btn-success" role="button">수정하기</a></td>
                        <td><button type="button" class="btn btn-danger" th:attr="data-product-id=${item.productId}" onclick="deleteProduct(this)">삭제하기</button></td>

                    </tr>

                </tbody>
            </table>

            <br>
            <nav class="container d-flex align-items-center justify-content-center" aria-label="Page navigation example"
                 th:with="start=${(list.number / maxPage) * maxPage + 1},
                  end=(${(list.totalPages == 0) ? 1 : (start + (maxPage - 1) < list.totalPages ? start + (maxPage - 1) : list.totalPages)})">
                <ul class="pagination">

                    <li th:if="${start > 1}" class="page-item">
                        <a th:href="@{/admin/products(page=0, searchVal=${param.searchVal})}" class="page-link" href="#"
                           aria-label="Previous">
                            <span aria-hidden="true">&laquo;&laquo;</span>
                        </a>
                    </li>

                    <li th:if="${start > 1}" class="page-item">
                        <a th:href="@{/admin/products(page=${start - maxPage - 1}, searchVal=${param.searchVal})}"
                           class="page-link" href="#" aria-label="Previous">

                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>

                    <li th:each="page: ${#numbers.sequence(start, end)}" class="page-item"
                        th:classappend="${list.number+1 == page} ? active">
                        <a th:href="@{/admin/products(page=${page - 1}, searchVal=${param.searchVal})}" th:text="${page}"
                           class="page-link" href="#">1</a>

                    </li>


                    <li th:if="${end < list.totalPages}" class="page-item">
                        <a th:href="@{/admin/products(page=${start + maxPage - 1}, searchVal=${param.searchVal})}"
                           class="page-link" href="#" aria-label="Next">

                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>

                    <li th:if="${end < list.totalPages}" class="page-item">
                        <a th:href="@{/admin/products(page=${list.totalPages - 1}, searchVal=${param.searchVal})}"
                           class="page-link" href="#" aria-label="Next">

                            <span aria-hidden="true">&raquo;&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>

    </main >


</div>

<script layout:fragment="script" th:inline="javascript">

    function deleteProduct(element){

        let productId = element.dataset.productId;

        console.log(productId);

        if (!confirm('해당 상품을 삭제하시겠습니까?')) {
            return;
        }
        fetch(`/api/admin/products/${productId}`, {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json'
            }
        })
            .then(response => {
                if (response.ok) {
                    console.log('상품이 삭제되었습니다.');
                    alert('해당 상품이 삭제되었습니다!');
                    window.location.reload();
                } else {
                    console.error('상품 삭제에 실패');
                }
            })
            .catch(error => {
                console.error('네트워크 오류:', error);
            });

    }


</script>