<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/basic}">
<head>
    <meta charset="UTF-8">
    <title>장바구니</title>
</head>

<div layout:fragment="content" class="container my-3">
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">장바구니</h1>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <table width="100%">
                <tr>
                    <td align="right"><button type="button" class="btn btn-primary btn-lg" onclick="addToOrderData(this)">주문하기</button></td>
                </tr>
            </table>
        </div>
        <div style="padding-top: 50px">

            <form name="frmCart" method="get">
                <input type="text" style="display:none;">

                <table class="table table-hover">
                    <tr>
                        <td>
                            <button type="button" class="btn btn-danger" onclick="clearCart()">장바구니 비우기</button>
                        </td>
                    </tr>

                    <tr class="table-secondary">
                        <th>상품</th>
                        <th>이미지</th>
                        <th>가격</th>
                        <th>수량</th>
                        <th>소계</th>
                        <th>비고</th>
                    </tr>


                    <tbody id="cartData">
                        <tr th:each="cartDto, index : ${cartDtoList}">

                            <td>
                                <input type="hidden" name="productId" th:value="${cartDto.productId}">
                                <input type="hidden" name="cartId" th:value="${cartDto.cartId}">
                                <a th:href="@{/product/{productId}(productId=${cartDto.productId})}"
                                   th:text="${cartDto.productName}"
                                   class="btn btn-outline-primary"></a>
                            </td>
                            <td><img
                                    th:src="@{${cartDto.imgPath}}"
                                    class="img-thumbnail" style="width: 200px"></td>
                            <td class="price" th:text="${cartDto.productPrice}"></td>
                            <input type="hidden" name="productPrice" th:value="${cartDto.productPrice}">
                            <input type="hidden" name="orderNum" th:value="${cartDto.orderNum}">
                            <input type="hidden" name="productName" th:value="${cartDto.productName}">
                            <input type="hidden" name="totalPrice" th:value="${cartDto.productPrice} * ${cartDto.cnt}">
                            <td>
                                <input type="number" th:value="${cartDto.cnt}" th:attr="cart-id=${cartDto.cartId}" name="cnt"
                                       class="productCnt" min="1">
                                <input type="button" value="수정" th:attr="data-cart-id=${cartDto.cartId}" onclick="updateCartItemCnt(this)"
                                       class="btn btn-primary btn-sm">
                            </td>
                            <td class="total" th:text="${cartDto.productPrice} * ${cartDto.cnt}"></td>
                            <td><span class="badge text-bg-danger" th:attr="data-cart-id=${cartDto.cartId}" onclick="deleteCartItem(this)">삭제</span></td>
                        </tr>
                    </tbody>


                    <tr class="table-secondary">
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>총액</th>
                        <th th:text="${totalPrice}"></th>
                        <th></th>
                    </tr>
                </table>
            </form>

        </div>
        <a th:href="@{/product/list}" class="btn btn-secondary"> &laquo; 쇼핑 계속하기</a>
        <hr>
    </div>
</div>



<script layout:fragment="script" th:inline="javascript">

    const frmCart = document.frmCart;

    function addToOrderData(){

        if (!confirm('주문하시겠습니까?')) {
            return;
        }

        const cartDtoList = [];

        // 반복되는 데이터를 각각 담아서 cartDtoList에 추가
        document.querySelectorAll('#cartData tr').forEach(row => {
            const cartDto = {
                productId : row.querySelector('input[name="productId"]').value,
                cartId: row.querySelector('input[name="cartId"]').value,
                productName: row.querySelector('input[name="productName"]').value,
                productPrice: row.querySelector('input[name="productPrice"]').value,
                cnt: row.querySelector('input[name="cnt"]').value,
                totalPrice: row.querySelector('input[name="totalPrice"]').value
            }

            cartDtoList.push(cartDto);
        });

        console.log(cartDtoList)



        fetch(`/api/order/data/add`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(cartDtoList)
        })
            .then(response => {
                if (response.ok) {
                    window.location.href = `/order/Info`;
                } else {
                    console.error('orderData에 담기 실패');
                }
            })
            .catch(error => {
                console.error('네트워크 오류:', error);
            });

    }


    function clearCart(){

        if (!confirm('장바구니를 비우시겠습니까?')) {
            return;
        }
        fetch(`/api/cart`, {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json'
            }
        })
            .then(response => {
                if (response.ok) {
                    console.log('장바구니가 성공적으로 비워졌습니다.');
                    alert('장바구니가 비워졌습니다!');
                    window.location.reload();
                } else {
                    console.error('장바구니 비우기 실패');
                }
            })
            .catch(error => {
                console.error('네트워크 오류:', error);
            });

    }




    function deleteCartItem(element) {

        let cartId = element.dataset.cartId;

        console.log(cartId);

        if (!confirm('해당 상품을 장바구니에서 삭제하시겠습니까?')) {
            return;
        }
        fetch(`/api/cart/${cartId}`, {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json'
            }
        })
            .then(response => {
                if (response.ok) {
                    console.log('장바구니가 성공적으로 비워졌습니다.');
                    alert('해당 상품이 장바구니에서 삭제되었습니다.');
                    window.location.reload();
                } else {
                    console.error('해당 상품 장바구니 비우기 실패');
                }
            })
            .catch(error => {
                console.error('네트워크 오류:', error);
            });

    }


    function updateCartItemCnt(element) {

        let cartId = element.dataset.cartId;
        let cnt = document.querySelector(`.productCnt[cart-id='${cartId}']`).value;

        console.log(cartId);
        console.log(cnt);


        if (!confirm("수량을 수정 하시겠습니까?")) {
            return;
        }
        fetch(`/api/cart/${cartId}/cnt?cnt=${cnt}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            }
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Error: ' + response.status);
                }
                // 요청이 성공한 경우 추가적인 로직을 작성하세요
                console.log('수량이 수정 되었습니다.');
                alert("수량이 수정 되었습니다!");
                window.location.reload();
            })
            .catch(error => {
                // 요청이 실패한 경우 에러 처리 로직을 작성하세요
                console.error('Error:', error);
            });


    }





</script>