<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/basic}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>로그인 실패</title>
</head>

<div layout:fragment="content" class="container my-3">
    <div class="jumborton">
        <div class="container">
            <h1 class="display-3">로그인 실패</h1>
        </div>
    </div>
    <div class="container" align="center" id="limit" sec:authorize="hasRole('ROLE_LIMIT')">
        <h2 class="alert alert-danger">이용이 제한된 고객입니다.</h2>
    </div>
    <div class="container" align="center" id="withdrawal" sec:authorize="hasRole('ROLE_WITHDRAWAL')">
        <h2 class="alert alert-danger">탈퇴한 회원입니다.</h2>
    </div>
</div>

<script layout:fragment="script" th:inline="javascript">

    window.onload = function (){
        let limit = document.querySelector('#limit');
        let withdrawal = document.querySelector('#withdrawal');

        if(limit){
            alert("이용이 제한된 고객입니다.");
            window.location.href = '/logout';
        }else if (withdrawal){
            alert("탈퇴한 회원입니다.");
            window.location.href = '/logout';
        }

    };

</script>