<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/basic}">

<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <link th:href="@{/css/member.css}" rel="stylesheet"/>
</head>



<div layout:fragment="content" class="container my-3">



    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">로그인</h1>
        </div>
    </div>
    <div class="container" align="center">
        <div class="col-md-4 col-md-offset-4">

            <h3 class="form-signin-heading">Please sign in</h3>

            <div id="error-msg-div">

            </div>

            <form class="form-signin" th:action="@{/member/login}" method="post">
                <div class="form-group">
                    <label th:for="inputUserName" class="sr-only">User Name</label>
                    <input type="text" class="form-control" placeholder="ID" name="userId" required autofocus>
                </div>
                <div class="form-group">
                    <label th:for="inputPassword" class="sr-only">Password</label>
                    <input type="password" class="form-control" placeholder="Password" name="password" required>
                </div>
                <button class="btn btn btn-lg btn-success btn-block" type="submit">로그인</button>
            </form>
        </div>
    </div>


</div>

<script layout:fragment="script" th:inline="javascript">
    let errorMsgDiv = document.querySelector('#error-msg-div');

    const urlParams = new URL(location.href).searchParams;
    const error = urlParams.get('error');
    console.log(error)

    if (error != null) {
        let div = document.createElement('div');
        div.classList.add('alert');
        div.classList.add('alert-danger');

        let text = document.createTextNode('아이디와 비밀번호를 확인해 주세요.');

        div.appendChild(text);

        errorMsgDiv.appendChild(div);

    }
</script>
